:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('./LibreFranklin-VariableFont_wght.ttf');
}

* {
    font-family: 'Libre Franklin';
    font-weight: 100;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.parent-container {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 20%;
    align-items: center;
    gap: 3.125rem;
}

.header-container {
    text-align: center;
}

.email-container {
    display: flex;
    width: 120%;
    gap: 1.25rem;
    height: 2.5rem;
}

#mail {
    width: 70%;
    margin-left: -7%;
    border-radius: 1.25rem;
    font-size: 0.75rem;
    padding-left: 5%;
    color: var(--Gray);
}

#submitBtn {
    width: 30%;
    border-radius: 1.25rem;
    border-style: none;
    font-size: 0.75rem;
    color: white;
    font-weight: 600;
    background-color: var(--Blue);
}

h1+p {
    line-height: 0.22rem;
}

span {
    font-weight: 700;
}

#dashboard {
    width: 100%;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 4.7rem;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

i {
    color: var(--Blue);
}

i:hover {
    color: white;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#submitBtn:hover {
    cursor: pointer;
}

.icon-border {
    border-radius: 50%;
    width: 1.375rem;
    display: flex;
    justify-content: center;
}

.icon-border:hover {
    background-color: var(--Blue);
    cursor: pointer;
}